@import url('https://fonts.googleapis.com/css2?family=Rampart+One&family=Roboto&display=swap');
* {
    box-sizing: border-box;
}
#logo-text {
    color: #F0FFFF;
    font-size: 3vw;
    font-family: 'Rampart One', cursive;
}
.nav-link {
    color: #F0FFFF;
    padding-left: 5px;
}
#news-hover{
    background-color:#F0FFFF;
    color:#041E42;
}

.nav-link:hover {
    background-color: #F0FFFF;
    color: #041E42;
    transition: 1s;
}
.dropdown-item {
    color: #041E42;
}
.dropdown-item:hover {
    background-color: #041E42;
    color: #F0FFFF;
    transition: 1s;
}
.fa-user {
    color: #F0FFFF;
}
.fa-user:hover {
    color: #041E42;
    transition: 1s;
}
.container-fluid {
    font-family: 'Roboto', sans-serif;
}
.news-wrapper{
    display:grid;
    grid-template-columns:1fr 4fr;
}
.card {
    padding: 5px;
}
#date-style {
    margin-top:5px;
    color: gray;
}
#news-picture {
    width: 100%;
    height: auto;
}
.footer {
    margin-top: 5px;
    background-color: #041E42;
    height: auto;
    padding-top: 50px;
    padding-bottom: 50px;
    color: #F0FFFF;
    font-size: 2vw;
    text-align: center;
}
.footer-contents-item-1 {
    display: flex;
    justify-content: center;
}
.footer-contents-item-1 p {
    margin-right: 10px;
}
.footer-contents-item-2 {
    display: flex;
    justify-content: center;
}
.footer-contents-item-2 i {
    margin-bottom: 15px;

}
.twitter {
    margin-left: 30px;
    margin-right: 30px;
}